[Desktop Entry]
Type=Application
Name=Anixart Arch
Comment=Unofficial native Linux desktop client for Anixart
Exec=anixart
Icon=anixart-arch
Terminal=false
Categories=AudioVideo;Video;Network;
Keywords=Anime;Video;Anixart;
StartupNotify=true
StartupWMClass=io.github.anixartarch.AnixartArch
